@charset "utf-8";

:root {
  font-family: "PT Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 962px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.top-nav {
  margin: 0 0 -7px 162px;
  position: relative;
  z-index: 1;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

  .top-nav__item {}

  .top-nav__link {
    display: block;
    overflow: hidden;
    font-size: 26px;
    width: 1em;
    height: 23px;
    background: url("../img/top-nav-icons.png") no-repeat 0 0;
    color: transparent;
  }

  .top-nav__link:not(:hover) {
    opacity: 0.18;
  }

  .top-nav__link_icon_home {
    background-position: 0 0;
  }

  .top-nav__link_icon_sitemap {
    background-position: -1em 0;
  }

  .top-nav__link_icon_email {
    background-position: -2em 0;
  }

.logo {
  display: block;
  text-decoration: none;
}

  .logo__content {
    display: block;
    border: 0;
  }


.search-form {
  position: relative;
}

.search-form__input {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 22px;
  padding: 0 10px;
  border: 1px solid #ccc;
  font: inherit;
  font-size: 12px;
  border-radius: 4px;
}

  .search-form__input::placeholder {
    font-size: inherit;
    color: #b3b4ae;
    opacity: 1;
  }

  .search-form__submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    width: 14px;
    height: 14px;
    background: url("../img/search.png") no-repeat transparent;
    color: transparent;
    cursor: pointer;
  }

    .search-form__submit:hover {
      opacity: 0.75;
    }

.contact-center {
  padding-top: 29px;
  color: #a3a3a3;
}

  .contact-center__title {
    margin-bottom: 4px;
    font-size: 15px;
  }

  .contact-center__link {
    margin-bottom: 2px;
    font-size: 23px;
    color: #004990;
    text-decoration: none;
  }

  .contact-center__desc {
    font-size: 12px;
    line-height: 16px;
  }


.reception-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.reception-nav__item {
  margin-bottom: 20px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

  .reception-nav__item::before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    font-size: 22px;
    width: 1em;
    height: 18px;
    background: url("../img/reception-icons.png") no-repeat;
  }

    .reception-nav__item_service::before {
      background-position: 0 0;
    }
    .reception-nav__item_anteroom::before {
      background-position: -1em 0;
    }

    .reception-nav__item:not(:last-child) {
      margin-right: 34px;
    }

  .reception-nav__link {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 1;
    color: #b3b4ae;
    border-bottom: 1px solid;
  }

  .reception-nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .reception-nav__link:hover {
    border-color: transparent
  }


.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  border: 0;
  min-width: 157px;
  text-decoration: none;
  font-size: 13px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #004990;
  border-radius: 3px;
}

  .btn:hover {
    box-shadow: 0 0 9in rgba(255, 255, 255, 0.1) inset;
  }

  .btn:active {
    box-shadow: 0 0 9in rgba(0, 0, 0, 0.1) inset;
  }


.account {}

  .account__title {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 700;
    text-align: right;
    color: #004990;
  }

  .account__links {
    display: flex;
  }

  .account__links > * + * {
    margin-left: 8px;
  }


.page-header {
  margin-bottom: 28px;
  display: flex;
  align-items: flex-start;
  padding-top: 18px;
}

  .page-header__center {
    margin: 0 36px;
    flex: 0 0 180px;
  }

  .page-header__right {
    margin-left: auto;
  }


.menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

  .menu::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;
    border-top: 2px solid #ccc;
  }

  .menu__item {
    flex: 0 0 auto;
  }

  .menu__link {
    display: block;
    line-height: 1;
    text-decoration: none;
    color: #004990;
  }

    .menu__link::before {
      content: "";
      display: block;
      background: none no-repeat left 50% bottom 11px;
      height: 76px;
    }

    .menu__link_icon_about::before {
      background-image: url("../img/nav/about.png");
    }

    .menu__link_icon_person::before {
      background-image: url("../img/nav/person.png");
    }

    .menu__link_icon_legal::before {
      background-image: url("../img/nav/legal.png");
    }

    .menu__link_icon_info::before {
      background-image: url("../img/nav/info.png");
    }

    .menu__link_icon_services::before {
      background-image: url("../img/nav/services.png");
    }

    .menu__link_icon_orders::before {
      background-image: url("../img/nav/orders.png");
    }

    .menu__link_icon_press::before {
      background-image: url("../img/nav/press.png");
    }

    .menu__link:hover {
      color: #1e84e6;
    }

  .menu__name {
    display: block;
    box-sizing: border-box;
    min-height: 54px;
    padding: 11px;
    text-align: center;
  }

  .menu__item_active {
    pointer-events: none;
  }

  .menu__item_active .menu__name {
      background: #004990;
      color: #fff;
    }


.map {
  margin: 75px 0;
  position: relative;
}

  .map-legend {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
  }

.map-legend {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  line-height: 40px;
  color: #001815;
}

  .map-legend__item {
    margin-bottom: 24px;
    white-space: nowrap;
  }

  .map-legend__icon {
    width: 50px;
    text-align: center;
    font: 0/0 a;
  }

    .map-legend__icon svg {
      vertical-align: middle;
    }

  .map-legend__text {
    flex: 0 0 auto;
    min-width: 0;
  }

  .map-legend__icon,
  .map-legend__text {
    display: inline-block;
    vertical-align: middle;
  }


.page-footer {
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 2px solid #ccc;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: #b3b4ae;
}

  .page-footer__title {
    margin: 0;
    font-size: inherit;
    font-weight: bold;
  }

  * + .page-footer__title {
    margin-top: 14px;
  }

  .page-footer a {
    color: inherit;
    text-decoration: none;
  }

    .page-footer a:hover {
      text-decoration: underline;
    }

  .page-footer__certs {
    margin-left: 8px;
    vertical-align: middle;
  }

  .page-footer__part {
    margin-bottom: 18px;
  }

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

  .social-list__item {
    margin-left: 8px;
    flex: 0 0 auto;
  }

  .social-list__link {
    display: block;
    text-decoration: none;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #b3b4ae;
  }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  .page > * {
    flex: 0 0 auto;
  }